/* default stuff for whole page */
*{
    margin: 0;
    padding: 0;
    font-family: "poppings", sans-serif;
    box-sizing: border-box;
}

/* header*/
#header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background-color: turquoise;
    position: relative;
}
body {
    background-color: rgb(168, 239, 209);
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    border-style: solid;
    padding: 28px 0;
}
#title{
    float: left;
    text-align: center;

    border-right-style: solid;
    padding: 23px;
}

.nav-links li{

    display: inline-block;
    margin: 0 15px;
    
    border-style: solid;
    border-width: 3px;
    border: black;
}
.nav-links button{
    margin-left: 70px;
    font-size: x-large
}

/* instructions page css here */



/* main home body content */
#GameDescription{
    font-size: 20px;
    margin: 50px;
    padding: 10px;
    border-style: solid;
    text-align: center;
    
}

#play{
    width: 200px;
    height: 200px;
    margin: 10px;
    
}
#PlayButton{
    width: 100px;
    height: 100px;
    margin: 50px;
    position: absolute;
}
#HomePageImg{
    margin: 50px;
    width: 300px;
    height: 300px;
    float: right;
}

/* Game page css */
.container{
    display: grid;
    grid-template-columns: auto auto auto;
}

#MatchingGame{
    font-size: 50px;
    margin: 50px;
    padding: 10px;
    border-style: solid;
    width: 500px;
    text-align: center;
    
    grid-column: 2 / 3;
}

.leaderboard{
    font-size: 25px;
    margin: 50px;
    width: 300px;
    border-style: solid;
    padding: 10px;
    grid-column: 3 / 4;
}

.shapes{
    grid-column: 2 / 3 ;
    display: grid;
    grid-template-columns: auto auto ;
    position: relative;
    gap: 50px;

}

.square {
    height: 100px;
    width: 100px;
    background-color: #555;
    
  }
  .circle {
    height: 100px;
    width: 100px;
    background-color: #555;
    border-radius: 50%;
    

  }

  .rectangle {
    height: 100px;
    width: 200px;
    background-color: #555;
    

  }
  .triangle {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #555;

}


#start-game{

    grid-column: 2 / 3;
    position: relative;
    margin: 50px;
    width: 100px;
    height: 50px;
}

#lose{
    margin: 50px;
    font-size: 20px;
    grid-column: 3 / 4;
}

/* About us css page here */

/* Footer */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgreen;
    color: black;
    text-align: center;
    padding: 20px;
}
